@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 1rem 6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
   font-weight: 700;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
}

nav li a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 18px;
  font-weight: 500;
}


/* banner styles */

.banner{
  margin-top: 1.3rem;
}

.banner-content{
max-width: 800px;
margin: 0 auto;
text-align: center;
}

.banner-title{
  color: rgb(19, 19, 19);
font-size: 4rem;
font-weight: 700;
margin-bottom: 0.8rem;
}

.banner-description{
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.btn-primary{
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 20px 25px;
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
}

.banner img{
  max-width: 80%;
  margin: 1.6rem auto;
  display: block;
}





/* main section */
main{
  max-width: 1200px;
  margin: 70px auto;
}

/* teams styles */
.teams-container{
  display: flex;
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}




/* feature style */
.features{
  display: flex;
  margin-top: 130px;
  gap: 100px;
}

.features .card{
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}


.feature-img img{
  height: 90%;
  width: 100%;
  margin-left: 20px;
}

.features .feature-title{
  border-left: 5px solid orange;
  padding-left: 20px;
}

.ten-years-badge{
  border-radius: 8px;
  color: rgb(255, 255, 255);
background: rgb(255, 144, 14);
padding: 40px;
text-align: center;
width: 340px;
position: relative;
bottom: 100px;
right: 90px;
}

.ten-years-badge h2{
  font-size: 4rem;
  margin: 0;
}

.ten-years-badge p{
  font-size: 1.5rem;
}






/* facts section */
.facts-card-container{
  display: flex;
  justify-content: space-around;
}

.facts-card-container .cards{
  box-sizing: border-box;
border: 1px solid rgb(255, 144, 14);
border-radius: 8px;
text-align: center;
padding: 40px 30px;
}

.facts-card-container .card-stats{
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #424242;
}

.facts-card-container .card-title{
  font-size: 1.25rem;
  font-weight: 600;
}


/* Sponsor Section */
.sponsors{
  text-align: center;
}

.sponsor-img-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
  gap: 40px;
}

.sponsor-img-container img{
  width: 165px;
}


.footer{
  text-align: center;
  border-radius: 8px;
background: rgb(255, 244, 231);
max-width: 60%;
margin: 0 auto;
  padding: 10px 10px;
}

.checkbtn{
  display: none;
  font-size: 2rem;
}

#check{
  display: none;
}




/* Responsive media Queries */
/* Mobile Devices */
@media screen and (max-width: 576px) {


  .banner img{
    max-width: 100%;
  }

  .banner-title{
    font-size:1.6rem;
  }
  


  header{
    padding: 1rem;
  }


  nav ul{
  left: -200%;
position: fixed;
width: 100%;
z-index: 1;
top: 5.1rem;
background-color: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(4px) brightness(0.9); 
flex-direction: column;
transition:  0.6s ease-in-out;
  }

  nav ul li{
    margin: 1rem;
  }

  nav ul li a{
    color: white;
  }

  #check:checked ~ ul {
    left: 0;
  }
  .checkbtn{
    display: block;
  }




.teams-container,.facts-card-container,.sponsor-img-container,.features{
    flex-direction: column;
  }

  .feature-img img{
    width: 90%;
    margin-left: 0;
    padding: 0;
  }

  .team-img-container{
    grid-template-columns: 1fr;
  }


  .ten-years-badge{
    max-width: 300px;
    position: static;
  }

  .facts-card-container{
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
  }
  
}


/* Medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    
  .checkbtn{
    display: block;
  }
  
  nav ul{
    left: -200%;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 5.2rem;
    backdrop-filter: blur(4px) brightness(0.9); 
flex-direction: column;
transition:  0.6s ease-in-out;
  }
  nav ul li{
    margin: 1rem;
  }

  nav ul li a{
    color: white;
  }
  
  #check:checked ~ ul{
    left: 0;
  }
  
  .teams-container,.facts-card-container,.sponsor-img-container,.features{
      flex-direction: column;
    }  
    header{
      padding: 20px;
    }
    .facts-card-container{
      padding: 30px;
    }
}
